body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: $basic-color;
  min-height: 100vh;

  // background: #e5e5e5;
  // background: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255));
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(229, 229, 229));

  @media screen and (min-width: 480px) {
    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.show-mobile {
  display: block;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
  }
}

.show-desktop {
  display: none;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
  }
}
