// Карта цветов:

// https://colorscheme.ru/#3fb2mqwxPdTyw

/* цвета текста */
$basic-color: #212121; // основной цвет текста
$other-basic-color: #fff; // дополнительный основной цвет текста
$accent-color: #ffcc33; // акцентный цвет текста
$other-accent-color: #cc3399; // дополнительный акцентный цвет текста
$complementary-color: #595959; // цвет текста второго уровня
$other-complementary-color: #a8a8a8; // дополнительный цвет текста второго уровня

/* цвета фонов */
$background-color-sidebar: #339999; // цвет фона сайдбара
$background-color-main: #fff; // цвет фона сайдбара
