<div class="">
  <div class="js-main-name">
    <h1>Дмитрий Горелкин</h1>
    <p>Front-end Developer</p>
  </div>

  <!-- Projects -->
  <div class="">
    <h2>Проекты</h2>
    <p>Личные:</p>
    <ul>
      <li class="list">Верстка</li>
      <li class="list">Работа по JS</li>
    </ul>
    <p>Командные:</p>
    <ul>
      <li class="list">Командная верстка</li>
      <li class="list">Командная рыбота по JS</li>
    </ul>
  </div>

  <!-- Education -->
  <div class="">
    <h2>Образование</h2>
    <div>
      <h3>Курс GoIT</h3>
      <p>Full-Stac Front-end Developer | 2021 - 2022</p>
    </div>
    <div>
      <h3>Одесский Национальный Политехнический Университет</h3>
      <p>Экономика преприятия | 2012 - 2015</p>
    </div>
    <div>
      <h3>Одесский Национальный Политехнический Университет</h3>
      <p>Радиотехника | 2007 - 2012</p>
    </div>
  </div>

  <!-- Work Experience -->
  <div class="">
    <h2>Работа</h2>
    <div>
      <h3>Электроперспектива</h3>
      <p>Инженер по комплектации | 06/2016 - 05/2022</p>
      <ul>
        <li class="list">Работа с поставщиками</li>
        <li class="list">Простчет метариальной стоипосмости проекта</li>
        <li class="list">Закупка оборудования</li>
      </ul>
    </div>
    <div>
      <h3>Элемент</h3>
      <p>Руководитель Бюро комплектации и сбыта | 01/2012 - 05/2016</p>
      <ul>
        <li class="list">Работа с поставщиками</li>
        <li class="list">Закупка комлектующих</li>
        <li class="list">Складской учет</li>
      </ul>
    </div>
  </div>
</div>
