<div class="main-container">
  <!-- Hero -->
  <div class="main-section show-desktop hero-section">
    <h1 class="hero-title">Dmitry Gorelkin</h1>
    <p class="hero-text">Front-end Developer</p>
  </div>

  <!-- Projects -->
  <div class="main-section projects-section">
    <h2 class="main-paragraph projects-title">Projects</h2>

    <ul class="list projects-list">
      <li class="projects-item">
        <a class="project-link link" href="https://dmitry-gorelkin.github.io/goit-markup-hw-08/" target="_blank">WebStudio</a>
      </li>
      <li class="projects-item">
        <a class="project-link link" href="https://nathaleia.github.io/test-team/" target="_blank">IceCream</a>
      </li>
      <li class="projects-item">
        <a class="project-link link" href="https://nathaleia.github.io/Film_collection/" target="_blank">Filmoteka</a>
      </li>
    </ul>
  </div>

  <!-- Education -->
  <div class="main-section education-section">
    <h2 class="main-paragraph education-title">Education</h2>
    <div class="education-institute">
      <h3 class="education-institute__title">GoIT</h3>
      <p class="education-institute__speciality">Full-Stac Front-end Developer | <span class="education-institute__time">2021 - 24.02.2022</span></p>
    </div>
    <div class="education-institute">
      <h3 class="education-institute__title">Odessa National Polytechnic Univrsity</h3>
      <p class="education-institute__speciality">Economics of enterprise | <span class="education-institute__time">2012 - 2015</span></p>
    </div>
    <div class="education-institute">
      <h3 class="education-institute__title">Odessa National Polytechnic Univrsity</h3>
      <p class="education-institute__speciality">Radoi Engineering | <span class="education-institute__time">2007 - 2012</span></p>
    </div>
  </div>

  <!-- Work Experience -->
  <div class="main-section work-section">
    <h2 class="main-paragraph work-title">Work Experience</h2>
    <div class="work-company">
      <h3 class="work-company__position">Инженер по комплектации <span class="work-company__title">ООО "Электроперспектива"</span></h3>
      <p class="work-company__time">06/2016 - 05/2022</p>
      <ul class="work-company__list">
        <li class="work-company__item">Работа с поставщиками</li>
        <li class="work-company__item">Простчет метариальной стоимости проекта</li>
        <li class="work-company__item">Закупка оборудования</li>
      </ul>
    </div>
    <div class="work-company">
      <h3 class="work-company__position">Руководитель Бюро комплектации и сбыта <span class="work-company__title">ОАО "Элемент"</span></h3>
      <p class="work-company__time">01/2012 - 05/2016</p>
      <ul class="work-company__list">
        <li class="work-company__item">Работа с поставщиками</li>
        <li class="work-company__item">Закупка комлектующих</li>
        <li class="work-company__item">Складской учет</li>
      </ul>
    </div>
  </div>
</div>
