<div class="main-container">
  <div class="main-section show-desktop">
    <h1 class="title">Дмитрий Горелкин</h1>
    <p>Front-end Developer</p>
  </div>

  <!-- Projects -->
  <div class="main-section">
    <h2 class="main-title">Проекты</h2>
    <p>Личные:</p>
    <ul>
      <li class="list">
        <a
          class="main-project-link link"
          href="https://dmitry-gorelkin.github.io/goit-markup-hw-08/"
          target="_blank"
          >WebStudio</a
        >
      </li>
    </ul>
    <p>Командные:</p>
    <ul>
      <li class="list">
        <a
          class="main-project-link link"
          href="https://nathaleia.github.io/test-team/"
          target="_blank"
          >IceCream</a
        >
      </li>
      <li class="list">
        <a
          class="main-project-link link"
          href="https://nathaleia.github.io/Film_collection/"
          target="_blank"
          >Filmoteka</a
        >
      </li>
    </ul>
  </div>

  <!-- Education -->
  <div class="main-section">
    <h2 class="main-title">Образование</h2>
    <div>
      <h3>Курс GoIT</h3>
      <p>Full-Stac Front-end Developer | 2021 - 2022</p>
    </div>
    <div>
      <h3>Одесский Национальный Политехнический Университет</h3>
      <p>Экономика преприятия | 2012 - 2015</p>
    </div>
    <div>
      <h3>Одесский Национальный Политехнический Университет</h3>
      <p>Радиотехника | 2007 - 2012</p>
    </div>
  </div>

  <!-- Work Experience -->
  <div class="main-section">
    <h2 class="main-title">Работа</h2>
    <div>
      <h3>ООО "Электроперспектива"</h3>
      <p>Инженер по комплектации | 06/2016 - 05/2022</p>
      <ul>
        <li class="list">Работа с поставщиками</li>
        <li class="list">Простчет метариальной стоимости проекта</li>
        <li class="list">Закупка оборудования</li>
      </ul>
    </div>
    <div>
      <h3>ОАО "Элемент"</h3>
      <p>Руководитель Бюро комплектации и сбыта | 01/2012 - 05/2016</p>
      <ul>
        <li class="list">Работа с поставщиками</li>
        <li class="list">Закупка комлектующих</li>
        <li class="list">Складской учет</li>
      </ul>
    </div>
  </div>
</div>
