<div class="sidebar-container">
  <!-- Poto -->
  <div class="sidebar-section__img sidebar-poto__section">
    <img class="sidebar-poto__img" src="./img/img-1.jpg" alt="тест" />
  </div>

  <!-- Name -->
  <div class="sidebar-section show-mobile sidebar-name__section">
    <h2 class="sidebar-name__title">Dmitry Gorelkin</h2>
    <p class="sidebar-name__text">Front-end Developer</p>
  </div>

  <!-- Contacts -->
  <div class="sidebar-section sidebar-contacts__section">
    <address class="sidebar-contacts__adress">
      <h3 class="sidebar-title sidebar-contacts__title">Contacts</h3>
      <ul class="sidebar-contacts__list list">
        <li class="sidebar-contacts__item">
          <p class="sidebar-contacts__text">
            Phone UA:
            <a href="tel:+380934675413" class="sidebar-contacts__link sidebar-link link">+38 (093) 467 54 13</a>
          </p>
        </li>
        <li class="sidebar-contacts__item">
          <p class="sidebar-contacts__text">Phone PL: <a href="tel:+48788788375" class="sidebar-contacts__link sidebar-link link">+48 788 788 375</a></p>
        </li>
        <li class="sidebar-contacts__item">
          <p class="sidebar-contacts__text">
            Email:
            <a href="mailto:gorelkind@gmail.com" class="sidebar-contacts__link sidebar-link link">gorelkind@gmail.com</a>
          </p>
        </li>
        <li class="sidebar-contacts__item">
          <p class="sidebar-contacts__text">
            Address:
            <a href="#" class="sidebar-contacts__link sidebar-link link" target="_blank" rel="noreferrer noopener">c. Lodz, Poland</a>
          </p>
        </li>
      </ul>
    </address>
  </div>

  <!-- Tech Skills -->
  <div class="sidebar-section sidebar-tech-skills__section">
    <h3 class="sidebar-title sidebar-tech-skills__title">Tech Skills</h3>
    <ul class="sidebar-tech-skills__list list">
      <li class="sidebar-tech-skills__item">HTML</li>
      <li class="sidebar-tech-skills__item">CSS</li>
      <li class="sidebar-tech-skills__item">JavaScript</li>
    </ul>
  </div>

  <!-- Languages -->
  <div class="sidebar-section sidebar-languages__section">
    <h3 class="sidebar-title sidebar-languages__title">Languages</h3>
    <ul class="sidebar-languages__list list">
      <li class="sidebar-languages__item">English - Elementary</li>
    </ul>
  </div>

  <!-- Hobby -->
  <div class="sidebar-section sidebar-hobby__section">
    <h3 class="sidebar-title sidebar-hobby__title">Hobby</h3>
    <ul class="sidebar-hobby__list list">
      <li class="sidebar-hobby__item">Dancing (Salsa, Bachata, Kizomba)</li>
    </ul>
  </div>
</div>
