<div class="sidebar-container">
  <!-- Poto -->
  <div class="sidebar-section__img sidebar-poto__section">
    <img class="sidebar-poto__img" src="./img/img-1.jpg" alt="тест" />
  </div>

  <!-- Name -->
  <div class="sidebar-section show-mobile">
    <h2 class="sidebar-name__title">Dmitry Gorelkin</h2>
    <p>Front-end Developer</p>
  </div>

  <!-- Contacts -->
  <div class="sidebar-section sidebar-contacts__section">
    <address class="sidebar-contacts__adress">
      <h3 class="sidebar-title">Contacts</h3>
      <ul class="list">
        <li>
          <p>
            Phone UA:
            <a href="tel:+380934675413" class="sidebar-link link">+38 (093) 467 54 13</a>
          </p>
        </li>
        <li>
          <p>Phone PL: <a href="tel:+48788788375" class="sidebar-link link">+48 788 788 375</a></p>
        </li>
        <li>
          <p>
            Email:
            <a href="mailto:gorelkind@gmail.com" class="sidebar-link link">gorelkind@gmail.com</a>
          </p>
        </li>
        <li>
          <p>
            Address:
            <a href="#" class="sidebar-link link" target="_blank" rel="noreferrer noopener"
              >c. Lodz, Poland</a
            >
          </p>
        </li>
      </ul>
    </address>
  </div>

  <!-- Tech Skills -->
  <div class="sidebar-section">
    <h3 class="sidebar-title">Tech Skills</h3>
    <ul class="list">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </div>

  <!-- Languages -->
  <div class="sidebar-section">
    <h3 class="sidebar-title">Languages</h3>
    <ul class="list">
      <li>Russian - Native</li>
      <li>English - Elementary</li>
    </ul>
  </div>

  <!-- Hobby -->
  <div class="sidebar-section">
    <h3 class="sidebar-title">Hobby</h3>
    <ul class="list">
      <li>Dancing (Salsa, Bachata, Kizomba)</li>
    </ul>
  </div>
</div>
