<div class="">
  <div class="">
    <img src="./images/demo.jpg" alt="тест" width="190" />
  </div>

  <div class="js-sidebar-name">
    <h1>Дмитрий Горелкин</h1>
    <p>Front-end Developer</p>
  </div>

  <div class="section">
    <address>
      <h3>Контакты</h3>
      <ul>
        <li class="list">
          <p>Телефон:</p>
          <a href="tel:+380934675413" class="">+38(093)467-54-13</a>
        </li>
        <li class="list">
          <p>Email:</p>
          <a href="mailto:gorelkind@gmail.com" class="">gorelkind@gmail.com</a>
        </li>
        <li class="list">
          <p>Адрес:</p>
          <a href="#" class="" target="_blank" rel="noreferrer noopener">г. Одесса, Украина</a>
        </li>
      </ul>
    </address>
  </div>

  <div class="section">
    <h3>Проффесиональные скилы</h3>
    <ul>
      <li class="list">HTML</li>
      <li class="list">CSS</li>
      <li class="list">JavaScript</li>
    </ul>
  </div>
</div>
