.main-container {
  width: 100%;
  background-color: $background-color-main;
  padding-left: 10px;
  padding-right: 10px;
  //   padding: 10px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    width: 70%;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
    // padding: 15px;
  }
}

.main-section {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.main-paragraph {
  padding: 5px;
  margin: 0 auto 10px auto;

  display: block;
  background-color: $background-color-sidebar;

  text-align: center;
  text-transform: uppercase;
  color: $accent-color;
}

.text-accent {
  color: $other-accent-color;
}

/* Hero */

.hero-section {
}

.hero-title {
  font-size: 3em;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.hero-text {
}

/* Projects */

.projects-section {
}

.projects-title {
}

.projects-list {
}

.projects-item {
}

.project-link {
  color: $other-accent-color;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $background-color-sidebar;
  }
}

/* Education */

.education-section {
}

.education-title {
}

.education-institute {
  color: $complementary-color;
}

.education-institute__title {
  margin-bottom: 5px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.education-institute__speciality {
  margin-bottom: 5px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.education-institute__time {
  margin-bottom: 5px;

  font-style: italic;
  color: $other-complementary-color;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
  }
}

/* Work Experience */

.work-section {
}

.work-title {
}

.work-company {
  padding-top: 5px;
  padding-bottom: 5px;

  color: $complementary-color;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.work-company__title {
  display: flex;
  flex-direction: column;

  margin-bottom: 5px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.work-company__title--position {
  display: block;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: inline;
  }

  @media screen and (min-width: 1200px) {
  }
}

.work-company__title--accint {
  display: block;
  color: $other-accent-color;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: inline;
  }

  @media screen and (min-width: 1200px) {
  }
}

.work-company__time {
  margin-bottom: 5px;

  font-style: italic;
  color: $other-complementary-color;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.work-company__list {
  padding-left: 15px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding-left: 30px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.work-company__item {
}
