.sidebar-container {
  width: 100%;
  background-color: $background-color-sidebar;

  color: $other-basic-color;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    width: 30%;
  }

  @media screen and (min-width: 1200px) {
  }
}

.sidebar-section {
  padding: 15px 10px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding: 25px 15px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.sidebar-title {
  color: $accent-color;

  margin-bottom: 5px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.sidebar-link {
  color: $other-basic-color;
}

/* Poto */

.sidebar-poto__section {
  display: block;
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media screen and (min-width: 1200px) {
  }
}

/* Name */

.sidebar-name__title {
  margin: 0 auto 10px auto;
  color: $accent-color;
}
